<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wolf's turn</title>
    <link rel="stylesheet" href="/css/E2.css" >
</head>
<body>
    <h1>Unfortunately, you missed.</h1>
    <h2>The wolf hits you with <%= wolfharm %> points. You have <%= hd %> points left.</h2>
    <form action="/app/E2/fight/turns" method="get">
        <button type="submit">Next</button>
</body>
</html>