<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>You feel exhausted after the snowfall</title>
        <link rel="stylesheet" type="text/css"   href="/css/styles.css">
    </head>
    <body>
        <center>
            <h2>
                Congratulations! You survive the extreme weather!
            </h2>
            <h2>
                However, you are almost half frozen to death and enter the exaustion level <%= level %>.
            </h2>
            <h2>
                What is exhaustion mode?
            </h2>
            <h3>
                <%= explanation %>
            </h3>
            <div class="cover">
                <img src="https://www.dndbeyond.com/attachments/thumbnails/1/957/850/594/skt03-02.png" alt="">
            </div>
            <div>
                <form action="/app/E2" method="send">
                    <button> Enter the battle </button>
                </form>
            </div>
        </center>
    </body>
</html>