<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Perform the survival check</title>
        <link rel="stylesheet" type="text/css"   href="/css/styles.css">
    </head>
    <body>
        <center>
            <h2>
                What is the survival check?
            </h2>
            <h3>
                You will roll a 20-sided dice in 8 rounds. If the dice is larger than 10, you succeed in this round. 
                If you continuously fail for three times in 8 rounds, you enter exaustion mode.
                If your total number of failures is larger than or equal to 5, you are half frozen to death.
                Otherwise, you find a cabin on the outskirts of Hundelstone, and hear a loud roar, and the sounds of battle.
            </h3>
            <h2>Now, roll your dice:</h2>
            <button onclick="rolladice()"> roll your dice </button>
            <h4>Your roll is:</h4>
                <p id="player" style="color:white"><%= dices %></p>
            <form action="/app/survivalcheck/checkresult" method="send">
                <button> Next </button>
            </form>
            <script>
                function rolladice(){
                    document.getElementById("player").style.color="black";
                }
            </script>
        </center>
    </body>
</html>




